/etc
/var
/usr

#OC specific things
/boot
.osprop
init.lua
#/lib
lib/bit32.lua
lib/buffer.lua
lib/colors.lua
lib/event.lua
lib/filesystem.lua
lib/io.lua
lib/keyboard.lua
lib/note.lua
lib/package.lua
lib/process.lua
lib/rc.lua
lib/serialization.lua
lib/shell.lua
lib/sides.lua
lib/term.lua
lib/text.lua
#/bin
bin/address.lua
bin/alias.lua
bin/cat.lua
bin/cd.lua
bin/clear.lua
bin/components.lua
bin/cp.lua
bin/date.lua
bin/df.lua
bin/dmesg.lua
bin/echo.lua
bin/edit.lua
bin/flash.lua
bin/hostname.lua
bin/install.lua
bin/label.lua
bin/ln.lua
bin/ls.lua
bin/lua.lua
bin/man.lua
bin/mkdir.lua
bin/more.lua
bin/mount.lua
bin/mv.lua
bin/primary.lua
bin/pwd.lua
bin/rc.lua
bin/reboot.lua
bin/redstone.lua
bin/resolution.lua
bin/rm.lua
bin/set.lua
bin/sh.lua
bin/shutdown.lua
bin/umount.lua
bin/unalias.lua
bin/unset.lua
bin/uptime.lua
bin/useradd.lua
bin/userdel.lua
bin/which.lua
bin/yes.lua
